# code=4

In [1]:
# saeed barcha 5-3-2022
# read csv file
# dataframe type means more then 1D
         # pd.read_csv("path-with-double \\ and csv and string format")
# series format means 1D format
         # pd.read_csv("path-with-double \\ and csv and string format")
# os module to find path of current working directory

In [2]:
# read csv file in pandas
    # csv is file extention and its stands for comma sperated value
    # csv format is use to store tabular data
    # in which number and text is store in the form of plane text
    # which we can easily read and write it

# advantages
    # universally used one
    # easy to understand
    # quick to create

# in data science project we need to import data
# mostely data is in csv format
# we can read file in IDE IDLE like python and r

In [3]:
# import pandas liblary
import pandas as pd

# how to read csv file in pandas
# dataframe format means more then 1D data  which contains multiple column

In [4]:
# to import or load csv file we have to use
# read_csv() method is use to import data
pd.read_csv("D:\\8th_semester\\research data\\archive\\train.csv")
# we have to enter the path of the csv file in string formt with file extention csv 

# help() this function is use to no about any method

# the below output data is known as DataFrame
# we can also import series as well 
# series means one dimentational data structure

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
5,Owner,0,0,3,BHK,1250.000000,1,1,"South Chittoor,Kochi",10.033280,76.282571,42.0
6,Dealer,0,0,3,BHK,1495.053957,1,1,"Sodala,Jaipur",26.916347,75.795600,66.5
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0
10,Owner,0,0,3,BHK,1350.308642,1,1,"Deshbandhu Para,Siliguri",26.724219,88.326357,35.0
11,Dealer,0,0,2,BHK,1333.010179,1,1,"Hebbal,Bangalore",13.040340,77.591347,110.0
12,Owner,0,0,2,BHK,927.177902,1,1,"Garebhavipalya,Bangalore",12.969910,77.597960,48.0
13,Owner,0,1,2,BHK,1122.171946,1,1,"Sector-119 Noida,Noida",28.587711,77.403123,62.0
14,Owner,0,0,1,BHK,649.983750,1,1,"sanjay nagar,Raigad",13.035200,77.577200,20.0
15,Dealer,1,1,3,BHK,1394.117647,0,1,"Sector-150 Noida,Noida",28.429614,77.481711,71.1
16,Owner,0,0,3,BHK,1800.084710,1,1,"Jharapada,Bhubaneswar",20.275267,85.862407,85.0
17,Dealer,1,1,3,BHK,2124.896706,0,1,"Konanakunte,Bangalore",12.885500,77.563800,180.0
18,Owner,0,0,2,BHK,1100.000000,1,1,"Nagpur Road,Wardha",21.153890,79.083060,22.0
19,Dealer,0,1,3,BHK,2178.649237,1,1,"Kogilu,Bangalore",13.092356,77.613468,120.0
20,Owner,0,0,2,BHK,881.143529,1,1,"Poonamallee,Chennai",13.050000,80.110000,45.0

# read csv
# series format means 1D data  which contains single column

In [5]:
a=pd.read_csv("D:\\8th_semester\\research data\\archive\\sample_submission.csv")
print(a)

    TARGET(PRICE_IN_LACS)
0                       0
1                       0
2                       0
3                       0
4                       0
5                       0
6                       0
7                       0
8                       0
9                       0
10                      0
11                      0
12                      0
13                      0
14                      0
15                      0
16                      0
17                      0
18                      0
19                      0
20                      0

In [6]:
# when we are importing any file it will store in our current working diractory

# to find the location of the file where it is stored

In [7]:
# we have ti import and use os module

# import os
import os

# to find current working directory we have a function

In [8]:
print(os.getcwd()) #this will return the path of current working directory

C:\Users\saeed\Desktop\pandas